.productCarousel {
  width: 55%;
  margin: 15px auto 0 auto;
}

.carousel-item img {
  margin: 0 auto;
  display: block;
  object-fit: cover;
  max-height: 205px; 
}
.carouselControlNext {
  right: 60px;
}

.carouselControlPrev {
  left: 20px;
}

.carouselControlPrevIcon,
.carouselControlNextIcon {
  background-color: rgba(224, 216, 216, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.setalign {
  text-align: center;
  margin-top: 20px;
}

.shopNow {
  color: rgb(105, 63, 63);
  font-style: italic;
  position: relative;
  left: 15px;
}
